body{
	/*background-image:url("img/hawaii2.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	*/
	margin:0px;
	background-image:url("img/me3.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	overflow-y:scroll;
	font-family: 'Rajdhani', sans-serif;
	color:white;
	overflow-x:hidden;
}
#about-blurb{
	width: 15vw;
    margin-left: 25vw;
    margin-top: 15vh;
    background-color: cadetblue;
    border-radius: 10vw;
    padding: 5vw;
	border:solid black thick;
}
#about-pic{
	width: 15vw;
    height: 40vh;
    margin-left: 55vw;
	border:solid white thick;
    /* margin-top: 30vw; */
    position: fixed;
    background-image: url("img/meinhawaii.JPEG");
    background-size: cover;
    top: 50%;
    background-repeat: no-repeat;
    border-radius: 5vw;
    background-position: right;
	
}
#resume{
	width:40vw;
	padding:5vw;
	margin-left:25vw;
	margin-top:5vh;
	overflow-y:hidden;
}
#logo{
	width:5vw;
	position:fixed;
	margin-left:2vw;
}
.contact-row{
	    width: 40vw;
    font-size: 2vw;
    margin-left: 5vw;
    margin-right: 0px;
    text-align: left;
}
#centername img{
	width:15vw;
}
#centername{
	position:fixed;
	width:50vw;
	text-align:center;
	margin-left:25vw;
	height:20vh;
	margin-top:25vh;
}
#main-text{
	width:100vw;
	margin-top:55vh;
	height:40vh;
	background:rgba(174,221,247,1);
	/*background:rgba(173,172,107,1);*/
	padding-top:5%;
}
#nav #dev-title{
	text-align:center;
}
#nav #dev-title h1{
	font-size:1.5vw;
}
#nav #dev-title h2{
		font-size:1vw;
}
#nav h1{
	font-size: 2vw;
    text-align: center;
    margin: 2%;
	width:15vw;
}
#nav{
	height: 10vh;
    width: 100vw;
	align-items:center;
    background:rgba(173,172,107,1);;
    display: flex;
    position: relative;
    top: 0%;
    flex-direction: row;
}
#nav ul{
	align-items: center;
    width: 40vw;
    list-style: none;
    display: flex;
    position: absolute;
    justify-content: space-around;
    right: 0%;
}
#nav a{
	cursor:pointer;
	text-decoration:none;
	color:inherit;
}
#nav a:visited{
	text-decoration:none;
}
#nav img{
	opacity:0%;
	position:fixed;
}
#title-slide{
	width:50vw;
	height:20vh;
}
#title{
	margin-top: 2vw;
    height: 10vh;
    display: flex;
    /* text-align: center; */
    font-family: 'Rajdhani', sans-serif;
    border-radius: 10vw;
    width: 30vw;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
	background: rgba(204,205,204,.5);
}
#main-blurb{
	width:50vw;
	position:fixed;
	margin-top:15vw;
	background:  rgba(204,205,204,.8);
	padding:10%;
	padding-left:3%;
	padding-top:3%;
}

#sidenav{
	position:fixed;
	height:100vh;
	width:20vw;
	background:rgba(95,116,128,.8);
	top:0%;
	text-align:center;
}
#right{
	position:fixed;
	width:80vw;
	margin-left:20vw;
	display:flex;
	justify-content:center;
	background-image:url("img/me.jpeg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	height:100vh;
}
#sidenav ul{
	margin-top:10vh;
	padding:0px;
	text-align:center;
	height:50vh;
}
#sidenav  img{
	width:5vw;
	margin-bottom:5vh;
	margin-top:5vh;
}
#sidenav ul li{
	style:none;
	height:20%;
	list-style:none;
	margin-top:2%;
	display:flex;
	align-items:center;
	justify-content:center;
}
#title h1{
	width:100%;
}
h1,h2{
	margin:0px;
}
#title h2{
	font-size:1vw;
}
@media only screen and (max-device-width: 600px) {

.contact-row{
	margin-left:0px;
	font-size:2vh;
}
.contact-row h1,h2{
	position:relative !important;
	opacity:100% !important;
}
#centername img{
	width:25vh;
}
#dev-title{
	position:fixed;
	opacity:0%;
}
#nav img{
	width:5vh;
	opacity:100% !important; 
	position:fixed;
	left:3%;
	top:2.5%;
	
	
}
#resume{
	width: 80vw;
    padding: 5vw;
    margin-left: 7.5vw;
    margin-top: 5vh;
    overflow-y: hidden;
}
#dev-title h1,h2{
	opacity:0%;
	position:fixed;
}
#about-blurb{
	width:25vh;
	font-size:2vh;
	margin-left:2vw;
}
#about-pic{
	width:20vh;
}

#centername{
	margin-top:10vh !important;
}
#centername h1{
	font-size:3vh;
}
#nav ul{
	width:80vw;
	right:5%;
}
#nav a{
	font-size: 40px !important;
}

}
