body{
    background-image:url("Images/back.jpg");
    background-size:100%;
}

/* The side navigation menu */
.nav-bar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.nav-bar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.nav-bar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.nav-bar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  right: 0;
]
  left: 0;
  z-index: 1;
}

h1{
    text-align:center;
    font-family: 'Merriweather', serif;
}
.me img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:25%;
}
.matt img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:5%;
    width:25%;
    
}
.resume{
    text-align:center;
}
p.home{
    font-family: 'PT Serif', serif;
    color:white;
    font-size:150%;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    background: rgba(0,0,0,.5);
}
p.back{
    font-family: 'PT Serif', serif;
    font-size: 150%;
    margin-left: auto;
    margin-right: auto;
    color:white;
    width: 75%;
    background: rgba(0,0,0,.5);
}
a{
    color:white;
    
}
a:visited{
   text-decoration:none;
   color:white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 700px) {
  .nav-bar {padding-top: 15px;}
  .nav-bar a {font-size: 18px;}
  .resume{height:25%;}
  body{
      background-image:url("Images/matt.JPG");
      background-size:100%;}
  p.back{
      font-size:100%;
  }
  p.home{
      font-size:100%;
  }
  .menu{
      color:white;
  }
  
}
