 .nav-bar {padding-top: 15px;}
  .nav-bar a {font-size: 18px;}
  .resume{height:25%;}
  body{
      background-image:url("Images/matt.JPG");
      background-size:100%;}
  p.back{
      font-size:100%;
  }
  p.home{
      font-size:100%;
  }
  .menu{
      color:white;
  }