.nav-bar {padding-top: 15px;}
.nav-bar a {font-size: 22px;}
.resume{height:25%;}
body{
      background-image:url("Images/matt.JPG");
      background-size:150%;}
p.back{
      font-size:75%;
  }
p.home{
      font-size:75%;
  }
.menu{
      color:white;
  }